body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 70px;
    border-radius: 50px;
    margin-left: 10px;
    position:absolute;
    margin-top:-30px;
}
.myName {
    position:absolute;
    margin-top:0;
    margin-left: 90px;
}
nav a {
    font-weight: bolder;
    transition: color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    color:aqua;
    
}

nav ul li {
    display: inline;
    margin-left: 20px;
}
nav a:hover {
    color: white;
}
h1{
    margin:10px;
}
header {
    background-color:rgb(30, 29, 29);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-header{
    background-color:rgb(30, 29, 29);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer {
    background-color: rgb(30, 29, 29);
    color: aqua;
    text-align: center;
    padding: 20px;
}
.contact:hover{
    background-color: rgb(30, 29, 29);
    color: white;
}
#about {
    background-color: brown;
    padding: 10px;
}
.motion {
    font-size: 24px;
    animation: slide 3s infinite;
}


img{
    transition: transform .2s;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
img:hover{
    transform:scale(1.5);
}
@media screen and (max-width: 365px) {
    body {
      background-color: brown;
    }
    .proj {
      column-count: 1;
      column-gap: 50px;
   
    }
    .container-3{
        width:320px;
        height: 250px;
        overflow:auto;
    }
    .container-2 {
        max-width: 300px;
        margin: 0 auto;
        padding: 2px;
        background-color: black;
        box-shadow: 0 0 30px black;
        color:white;
    
    }
    .container-1 {
        width:250px;
        height: 300px;
        overflow:auto;
    }
    h1{
        font-size:15px;
        margin-left: -60px;
        margin-top:-10px;

    }
    .logo img {
        width: 40px;
        border-radius: 50px;
        margin-left: -20px;
        position:absolute;
        margin-top:-30px;

    }
  
    header {
        background-color:rgb(30, 29, 29);
        padding: 30px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact-header{
        background-color:rgb(30, 29, 29);
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    table {
        width: 50%;
        margin-bottom: 50px;
        margin: 0 auto;
        font-size:10px;

    }

  nav ul li {
    display:grid;
    margin-left: 1px;
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
}

  }

@media screen and (max-width: 768px) and (min-width: 366px) {
  body {
    background-color: brown;
  }
  .proj {
    column-count: 2;
    column-gap: 100px;

    
 
  }
  .container-1 {
    width:600px;
    height: 300px;
    overflow:auto;
}
  .container-2 {
    max-width: 500px;
    margin: 0 auto;
    padding: 2px;
    background-color: black;
    box-shadow: 0 0 30px black;
    color:white;

}
  .container-3{
    width:700px;
    height: 200px;
    overflow:auto;
}
nav ul li {
    display: inline;
    margin-left: 5px;
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
}
}
@media (min-width: 768px) {
  body {
    background-color:rgb(203, 197, 133)
  }
 .proj {
    column-count: 2;
    column-gap: 100px;
  }
  .container-3{
    width:1500px;
    height: 250px;
    overflow:auto;
}
.container-2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 30px black;
    color:white;

}
.container-1 {
    width:1100px;
    height: 300px;
    overflow:auto;
}
}


table {
    width: 50%;
    margin-bottom: 50px;
    margin: 0 auto;

}
td {
    padding: 2px;
    border: 3px solid white;
    text-align: center;
}
th {
    background-color: black;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    border: 3px solid white;
    color:white;
}
tr {
    border: 3px solid white;
}
.float-profile{
    float:right;
    position:relative;
}

.heading {
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
    margin: 10px 0; 
    color: white; 
}

.container-1 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 30px black;
    color:white;

}



.container-2:hover{
    transform:scale(1.25);
    
}
.container-1:hover{
    transform:scale(1.25);
    
}


.toplink {
    text-align:right;
    width:100%;
    margin-right:150px;
    color:white;
}
.toplink a{
    color:white;
}
.contactMe{
    color:black;
}
#projects figure {
    display:inline-block;
    border: 0px solid;
}
.homepage {
    color:black;
    margin-left:20px;
}

